<%-include('user_header.ejs');%>
<h1>Hello Rinky</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Appointment Ref Number</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% appointments.forEach(function(apptmnt) { %>
      <tr>
        <td><%=apptmnt.appointment_id%></td>
        <td><%=apptmnt.datetime_of_appointment%></td>
        <% if(apptmnt.datetime_of_appointment > new Date()) { %>
          <td><button type="button" class="btn btn-primary cancellingClass" data-toggle="modal" data-target="#cancelModal"
            data-id="<%=apptmnt.appointment_id%>">Cancel</button></td>
          <td><button class="btn btn-primary reschedulingClass" type="button" data-toggle="modal" data-target="#rescheduleModal"
            data-id="<%=apptmnt.appointment_id%>">Reschedule</button></td>
        <%} else {%>
          <td></td>
          <td></td>
        <%}%>

      </tr>

<% }); %>
    </tbody>
    </table>


<%-include('reschedule.ejs');%>
<%-include('cancel.ejs');%>
<%-include('footer.ejs');%>

<script type="text/javascript">
$(document).on("click", ".cancellingClass", function () {
     var appointId = $(this).data('id');
     $(".modal-body #cancelId").val( appointId );


});
$(document).on("click", ".reschedulingClass", function () {
     var appointId = $(this).data('id');
     $(".modal-body #rescheduleId").val( appointId );


});
</script>
